*.o
*.swp
*.un~
html
.deps
Makefile.in
aclocal.m4
bin
autom4te.cache
config.h.in
config.h.in~
configure
depcomp
install-sh
missing
config.h
config.log
config.status
stamp-h1
autoscan.log
Makefile
janus
*.tex
tags
*.png
*.txt
*.mesh
*.edge
*.poly
*.ele
*.neigh
*.node
*.pyc
triangulation_rec_test
triangulation_pol_test
*.log
testsuite
*.txt~
parameters_test_1
parameters_test_2
pwld_test
glc_test
ls_test
*.inp
cell_test
mip_test
dof_handler_test
edge_test
transport_operator_test_1
transport_operator_test_2
